@media(max-width:500px){
    .box{
        margin:2% 1%;
        width:90%;
        background-color: white;
    border-radius: 10px;
    }
}
@media(min-width:501px) and (max-width:1000px){
    .box{
        margin:6% 15%;
        width:70%;
        background-color: white;
    border-radius: 10px;
    }
}
@media(min-width:1001px){
    .box{
        margin: 10% 23%;
        width:50%;
        background-color: white;
    }
}
body{
    background-color: rgb(12, 46, 15);
}
.header{
    height: 40px;
    text-align: center;
    background-color: lightgreen;
    border-bottom: 1px solid gray;
    color: black1;
}
form{
    text-align: center;
}
.textbox{
    padding: 5px;
    margin:1%;
    width:80%;
    
}

.link{
    color: gray
}
.link:hover{
    text-decoration: underline;
    color:mediumblue;
    cursor: pointer;
}
.message{
    color: darkred;
    background-color: lightcoral;
    border: 1px solid darkred;
    margin: 5%;
    padding: 5px;
    border-radius: 5px;
}
.color-white{
    color: white;
}
.table{
    margin: 10%;
}
.board{
    text-align: center;
    padding: 2%;
    border-radius: 20px;
    border: 7px solid white;
}
/* .color-text{
    color:rgb(235, 250, 181) ;
} */
.bg-gray{
    background-color: rgb(235, 195, 94);
}